@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.3);
  font-family: "Montserrat", sans-serif;
}

.card-group {
  display: grid;
  //grid-template-row: repeat(3, 1fr);
  justify-content: center;
  grid-gap: 1em;
  margin: 6em;
  perspective: 1200px;
  transform-style: preserve-3d;
}
.card-group .card {
  width: 35em;
  position: relative;
  color: #fff;
  padding: 2em 4em;
  border-radius: 20px;
  perspective-origin: bottom right;
  transform: rotateX(8deg) rotateY(-34deg);
  border-bottom: 8px solid rgba(0, 0, 0, 0.2);
  border-right: 12px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.5);
}
.card-group .card:hover {
  transform: rotateX(2deg) rotateY(-18deg) scale(1.05);
  transition: transform ease-in-out 0.5s;
  z-index: 2;
  border-bottom: 7px solid rgba(0, 0, 0, 0.2);
  border-right: 4px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.4);
}
.card-group .card:nth-of-type(1) {
  background: #de5b6d;
}
.card-group .card:nth-of-type(2) {
  background: #f6944e;
}
.card-group .card:nth-of-type(3) {
  background: #710b79;
}

.button-group{
    display: inline-block;
    padding: 5px 15px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: rgb(19, 17, 17);
    background-color: #f8f9fa;
    border: none;
    border-radius: 8px;
    
}